@model Cascd_Dpdwn.VMs.AllTbl

@{
    ViewData["Title"] = "DisplayData";
}

<h1>DisplayData</h1>

<div class="container">
    <div>
        <select id="teritory" class="form-select">
            <option>Select</option>
            @{
                foreach (var item in Model.tbl_Territory)
                {
                    <option value="@item.Ter_id">
                        @item.Tr_Name
                    </option>
                }
            }
        </select>
    </div>
</div>
<p>
    <div>&nbsp;</div>
</p>

<div class="container">
    <div>
        <select id="Cntry" class="form-select">
            <option>Select</option>
            @*@{
                foreach (var item in Model.tbl_Country)
                {
                    <option value="@item.Cnt_id">
                        @item.Cn_Name
                    </option>
                }
            }*@
        </select>
    </div>
</div>

<p>
    <div>&nbsp;</div>
</p>

<div class="container">
    <div>
        <select id="stt" class="form-select">
            <option>Select</option>
            @*@{
                foreach (var item in Model.tbl_Stt)
                {
                    <option value="@item.Stt_id">
                        @item.St_Name
                    </option>
                }
            }*@
        </select>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            
            $("#teritory").change(function () {
                getCntr();
            });

            function getCntr() {
                debugger
                var trty = $('#teritory').val();
                var select = $('#Cntry');
                select.empty();
                $.ajax({
                    type: 'POST',
                    url: '/Home/GetCountry',
                    data: { id: trty },
                    success: function (response) {
                        if (response != 0) {
                            console.log(response);                            
                            var defaultOption = $('<option>').val('').text('Select a country');
                            select.append(defaultOption);
                            // Add options based on the received data
                            $.each(response, function (index, country) {
                                var option = $('<option>').val(country.cnt_id).text(country.cn_Name);
                                select.append(option);
                            });
                        }
                        else {
                            console.log('notfound');
                        }
                    },
                    error: function (data, errorThrown) {
                        alert('request failed :' + errorThrown);
                    }
                });
            }

            $("#Cntry").change(function () {
                getStt();
            });

            function getStt() {
                debugger
                var cty = $('#Cntry').val();
                var select = $('#stt');
                select.empty();
                $.ajax({
                    type: 'POST',
                    url: '/Home/GetState',
                    data: { id: cty },
                    success: function (response) {
                        if (response != 0) {
                            console.log(response);                            
                            var defaultOption = $('<option>').val('').text('Select a state');
                            select.append(defaultOption);
                            // Add options based on the received data
                            $.each(response, function (index, stat) {
                                var option = $('<option>').val(stat.stt_id).text(stat.st_Name);
                                select.append(option);
                            });
                        }
                        else {
                            console.log('notfound');
                        }
                    },
                    error: function (data, errorThrown) {
                        alert('request failed :' + errorThrown);
                    }
                });
            }

        });
    </script>
}